/* Advised not to edit the body width. This by default is 100%. Add divs within the body as required */

body {
    margin: 0;
}

html {
    font-size: 16px;
}

.parent {
    background-color: cadetblue;
    margin: 0 auto;
    padding: 2rem;
    width: 80%;
}

.child {
    background-color: aquamarine;
    /* height: 300px; */

    width: 50%;
    min-width: 300px;

    padding: 5rem;
    
    margin: 0 auto;
}

.parent-text, .child-text {
    color: white;
    margin: 0 auto;
    text-align: center;
}

.sample-text {
    margin: 0 auto;
}

/* EM and REM generally used for font sizes. EM sized in relation to element's parent. Sizes will compound from other parents. Default 1em is 16px. */

.em-text, .rem-text {
    color: darkseagreen
}

.em-title {
    font-size: 2em;
    /* EM and REM can also be used for margin, padding, width, etc.  */
    /* The difference here is, when using EM, the spacing will relate to the specific element's font size */
    margin-bottom: 1em;
}

.em-text {
    font-size: 1em;
}

/* REM refers to root font size. Doesn't refer to body. Refers to root or html class.  */

.rem-title {
    font-size: 2rem;
    /* For spacing, REM will always refer to the root. Not the element's font-size */
    margin-bottom: 1rem;
}

.rem-text {
    font-size: 1rem;
}